*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.6;
color: black;
background: lightskyblue;
padding: 20px;
}

h1 {
text-align: center;
color: white;
font-size: 45px;
margin-bottom: 30px;
}

header {
background: white;
max-width: 700px;
margin: 0 auto 30px;
border-radius: 20px;
padding: 30px;
}

header img {
display: block;
margin: 0 auto 20px;
border-radius: 50%;
border: 5px solid skyblue;
}

header div {
text-align: center;
}
header p {
margin: 15px ;
font-size: 20px;
}
header strong {
color:  #667eea;
font-size: 23px;

}

nav ul {
display: flex;
justify-content: center;
gap: 30px;
margin: 20px 0;
padding: 20px;
background: white;
border-radius: 50px;
max-width: 600px;
margin-left: auto;
margin-right: auto;
list-style: none;
}

section {
  max-width: 800px;
  margin: 30px auto;
  background: white;
  border-radius: 15px;
  padding: 30px;
}

article {
  margin-bottom: 25px;
}

article h4 {
  color: #667eea;
  margin-bottom: 15px;
  font-size: 1.4rem;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 8px;
}

article p {
  font-size: 1.05rem;
  line-height: 1.8;
}

article ol li {
  margin: 10px 0;
  padding-left: 20px;
}

footer {
  text-align: center;
  background: white;
  padding: 25px;
  border-radius: 15px;
  max-width: 600px;
  margin: 30px auto 0;
}
